// Colors

<<<<<<< HEAD
$first-color: #820333;
$second-color: #F0433A;
$third-color: #13637E;
$fourth-color: #20A4D3;
=======
$black : #000;
$white: #FFF;
$nav-hover: #FC0;

$bands-color1: #820333;
$bands-color2: #F0433A;
$bands-color3: #333;
$bands-color4: #CCC;
>>>>>>> 077dc0f49bea54db551ae2fd78c6a90cc3d6057f

$percentages: 100%, 95%, 90%, 85%, 80%, 75%, 70%, 65%, 60%, 55%, 50%, 45%, 40%, 35%, 30%, 25%, 20%, 15%, 10%, 5%, 0%;

$percentages: 100%, 90%, 80%, 70%, 60%, 50%, 40%, 30%, 20%, 10%, 0%;

$main-font: "Raleway", sans-serif;
$hero-font: "Anton", sans-serif;

$desktop-breakpoint: 1200px;
$midpoint-breakpoint: 992px;
$mobile-breakpoint: 768px;
