// Colors

$black : #000;
$white: #FFF;
$nav-hover: #FC0;
$link-hover: #FFCD30;

$bands-color1: #820333;
$bands-color2: #F0433A;
$bands-color3: #D98014;
$bands-color4: #F2C335;
$bands-color5: #FFF;
$bands-color6: #000;

// graphic blues 
$bands-color7: #BDE3F2;
$bands-color8: #5A90BF;

//development
$bands-color9: #6E6380;
$bands-color10: #C7B3E6;

$transition-speed: 0.1s;

$percentages: 100%, 90%, 80%, 70%, 60%, 50%, 40%, 30%, 20%, 10%, 0%;

$main-font: "Raleway", sans-serif;
$hero-font: "Anton", sans-serif;

$desktop-breakpoint: 1200px;
$midpoint-breakpoint: 992px;
$mobile-breakpoint: 768px;
