@import "variables";


.bit2 {
    background: $white;
    color: white;
    font-family: $main-font;
    font-size: 16px;

    header {
        display: flex;
        height: 100px;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 12;

        @media (max-width: $mobile-breakpoint) {
            background: $black;
        }
    }

    .content {
        position: relative;
        z-index: 10;
    }

    h1, h2, h3, h4 {
        color: $white;
        margin-bottom: 20px;
        font-family: $hero-font;
        text-transform: uppercase;
    }

    h1 {
        font-size: 4em;
        margin-top: 150px;
    }

    .container {
        @media (min-width: 1200px) {
            max-width: 1240px;
        }
    }

    .nav {
        color: $white;
        background: $black;
        list-style-type: none;
        font-weight: 600;
        height: 40px;
        margin: 40px 0;
        padding: 10px 20px 0 0;
        text-transform: uppercase;

        @media (max-width: $mobile-breakpoint) {
            margin-top: 10px;
        }

        li {
            float:left;
            margin-left: 20px;
            cursor: pointer;

            &:hover {
                color: $nav-hover;
                transition: color .5s linear;
            }
        }
    }

    // Section Backgrounds
    .bg {
        background-size: cover;
        height: 100vh;
        opacity: 0;
        position: fixed;
        transition: opacity 1s linear;
        width: 100%;

        &.show {
            opacity: 1;
        }
    }

    .hero-bg {
        background: url('./../img/forest.jpg') #666;
        opacity: 1;
        z-index: 1;
    }

    .graphic-bg {
        background-size: cover;
        background: url('./../img/coney-island2.jpg') no-repeat;
        z-index: 2;
    }

    .development-bg {
        background: #666;
        display: flex;
        justify-content: center;
        z-index: 3;

        div {
            align-self: center;
            border-radius: 0px;
            display: block;
            height: 0px;
            width: 0px;
            position: absolute;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    background: mix($bands-color1, $bands-color2, nth($percentages, $i));
                }
            }

        }

        &.expand {

            div {
                transition: width 1s;
                height: 100%;
                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        width: nth($percentages, $i);
                        transition: all $i * 0.25s;
                        z-index: $i;
                    }
                }

            }
        }

        &.change {
            transition: background 1s;

            div {
                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        background: mix($bands-color3, $bands-color4, nth($percentages, $i));
                        transform: rotate(0deg);
                        transition: all $i * 0.25s;
                    }
                }
            }

        }
        &.rotate {
            transition: transform 1s;

            div {
                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        background: mix($bands-color5, $bands-color6, nth($percentages, $i));
                        transform: rotate(90deg) scaleY(2);
                        transition: all $i * 0.25s;
                    }
                }
            }

        }
    }

    .contact-bg {
        background: url('./../img/contact-bg.jpg') no-repeat;
        z-index: 3;
    }

    .diagonal-box {
        background: url('../img/trees.jpg');
        height: 2000px;
        mix-blend-mode: overlay;
        opacity: 0;
        position: absolute;
        transform: scale(4);
        width: 50%;
        z-index: 4;

        &.animate {
            left: -20%;
            opacity: 1;
            transition: transform 1s ease-out, opacity 1s ease-out;
            transform: scale(1);
        }
        &.hide {
            opacity: 0;
        }
        &.show {
            opacity: 1;
        }
    }

    section {
        height: 1200px;

        @media (max-width: $mobile-breakpoint) {
            height: auto;
            min-height: 800px;
        }

    }

    .animations {
        bottom: 50px;
        cursor: pointer;
        list-style-type: none;
        padding: 5px 20px;
        position: fixed;
        right: 50px;
        z-index: 2;
    }

    .logo {
        margin-left: 20px;
    }

    .hero {
        color: #fff;
        font-family: $hero-font;
        font-size: 2.7rem;
        vertical-align: bottom;

        .herotext {
            z-index: 2;
            position: absolute;
            text-transform: uppercase;
        }

        @media (min-width: $mobile-breakpoint) {
            font-size: 3.5rem;
        }

        ul {
            list-style-type: none;
            max-width: 60%;
            margin-top: 140px;
            padding-left: 20px;

            @media (min-width: $mobile-breakpoint) {
                margin-top: 290px;
            }

            li {
                display: inline;
                opacity: 0;
                transition: opacity 1s linear;

                &.active {
                    opacity: 1;
                }
                &:nth-child(2) {
                    font-size: 1.5em;

                    @media (min-width: $midpoint-breakpoint) {
                        line-height: 20px;
                    }
                }
                &:nth-child(4) {
                    font-size: 1.4em;

                    @media (min-width: $midpoint-breakpoint) {
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .graphic {
        background-size: cover;
        overflow: hidden;
        position: relative;

        h1 {
            filter: blur(10px);
            margin-left:-100%;
        }

        .overlay {
            background-blend-mode: color-dodge;
            background: lightblue;
            display: block;
            height: 100%;
            opacity: .5;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .corkboard {
            position: absolute;
            z-index: 2;
        }

        img {
            margin: 7px 3px;

            &:hover {
                opacity: 1;
                outline: 3px solid #fff;
                transition: .7s opacity;
                z-index: 2;
            }
        }

        .diagonal-box {
            background: url('../img/diagonal.png');
            height: 2500px;
            mix-blend-mode: color-burn;
            opacity: 0;
            position: absolute;
            transform: scale(4);
            width: 200%;
        }

        &.animate {

            h1 {
                filter: blur(0px);
                margin-left: 0;
                transition: filter 1s ease-in, margin-left .7s ease-in;
            }
        }
        @media (max-width: $mobile-breakpoint) {

            img {
                width: 80px;
            }
        }
    } // end of graphic rule

    .development {
        color: white;

        h1 {
            color: white;
            margin-top: 75px;
        }

        .row {
            padding-top: 180px;
        }

        .laptop {
            background: url('../img/computer.png') no-repeat;
            background-position: 6px center;
            background-size: 100%;
            //border: 1px solid #F00;
            height: 378px;
            padding-top:20px;
            text-align: center;
            width: 100%;

            .screen {
                border-radius: 8px;
                display: block;
                height: 80%;
                margin: 0 auto;
                overflow: hidden;
                width: 76%;
                position: relative;

                @media (max-width: $desktop-breakpoint) {
                    margin-top: 45px;
                    height: 60%;
                }
                @media (max-width: $midpoint-breakpoint) {
                    margin-top: 75px;
                    height: 45%;
                }
                @media (max-width: $mobile-breakpoint) {
                    margin-top: 25px;
                    height: 65%;
                }

                .strip {
                    background: url('../img/develop/image-strip.jpg') repeat;
                    //border: 1px solid blue;
                    display: block;
                    width: 6000px;
                    height: 300px;
                    position: absolute;

                    @media (max-width: $desktop-breakpoint) {
                        background-size: 38%;
                    }
                }
            }
        }
    }

    .motion {

        .vidbox {
            margin-top: 30px;

            video {
                width: 100%;
            }
        }

        .programs {
            list-style-type: none;
            margin-top: 360px;

            li {
                clear: both;
                margin-top: 20px;
                position: relative;
                min-height: 120px;

            }

            h4 {
                font-family: "Raleway", sans-serif;
                font-weight: 600;
                text-transform: none;
                font-weight: bold;
                margin-bottom: 10px;
            }

            img {
                float: left;
                width: 80px;
                margin-right: 20px;
                overflow: hidden;
            }
            p {
                overflow: hidden;
            }
        }
    }

    .contact {

         h1 {
             color: #666;
         }
    }
}
