$black : #000;
$white: #FFF;
$nav-hover: #EA232E;

$main-font: "Raleway", sans-serif;
$hero-font: "Anton", sans-serif;

$mobile-breakpoint: 728px;

.bit2 {
    background: $white;
    color: black;
    font-family: $main-font;
    font-size: 16px;

    header {
        background: $black;
        display: flex;
        height: 100px;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    .nav {
        color: $white;
        list-style-type: none;
        margin: 40px 40px 0 0;
        padding: 0;
        text-transform: uppercase;

        li {
            float:left;
            margin-left: 20px;
            cursor: pointer;

            &:hover {
                color: $nav-hover;
                transition: color .5s linear;
            }
        }
    }

    section {
        background: #999;
        height: 800px;
        text-transform: uppercase;

        &.hero {
            background: url('./../img/forest.jpg') #666;
            color: #fff;
            font-family: $hero-font;
            font-size: 3rem;
            padding: 220px 0 0 0;
            vertical-align: bottom;

            @media (min-width: $mobile-breakpoint) {
                font-size: 3,5rem;
                padding: 110px 0 0 50px;
            }

            ul {
                list-style-type: none;
                padding-left: 20px;
                max-width: 50%;

                li {
                    display: inline;
                    opacity: .7;

                    &.active {
                        opacity: 1;
                    }
                    &:nth-child(2) {
                        font-size: 1.5em;
                    }
                    &:nth-child(4) {
                        font-size: 1.4em;
                    }
                }
            }

            .design {
                font-size: 1.7em;
            }

            .development {
                font-size: 1.4em;
            }
        }

        &.graphic {
            background: url('./../img/coney-island.jpg'), url('./../img/diagonal.png');
            background-size: cover;
            background-position: 0 -300px;
            position: relative;

            .overlay {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background: lightblue;
                top: 0;
                opacity: .5;
                background-blend-mode: color-dodge;
            }

            .corkboard {
                position: absolute;
                z-index: 2;
            }
        }
    }

    .content {

    }

    .logo {
        margin-left: 20px;
    }
}
